@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

html {
    height: 100%;
    #cursor: none;
}

a {
    #cursor: none;
}

body {
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 70%, rgba(255,255,255,0.8) 90% , rgba(255,255,255,.6) 100%);
    background-color: #009eff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: pageColor 10s 2s infinite linear both;
    font: 300 1.5em 'Fredoka', sans-serif;
    color: #444;
}

#cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  animation: cursorColor 10s 2s infinite linear both;
  background-image: url('images/cursor.png');
  background-size: cover;
  #background-color: red;
  #background-blend-mode: color;
  #background-color: #009eff;
  #box-shadow: 0 0 20px 20px white;
  #border-radius: 0 50% 50% 50%;
  opacity: 1;
  #border: 2px solid white;
  height: 1.2em;
  width: 1.2em;
  #margin-top: 0em;
  #margin-left: 0em;
}

@keyframes appear {
0% {
    filter: blur(10px);
    opacity: 0;
    transform: scale(.9,.9) perspective(20em) rotateX(-20deg);
}
100% {
    filter: blur(0px);
    opacity: 1;
    transform: none;
}
}

@keyframes cursorColor {
  0% {
    filter: hue-rotate(-60deg);
}
20% {
    filter: hue-rotate(-160deg);
}
40% {
    filter: hue-rotate(-240deg);
}
60% {
    filter: hue-rotate(-270deg);
}
80% {
    filter: hue-rotate(-360deg);
}
100% {
    filter: hue-rotate(-420deg);
}
}


@keyframes pageColor {
  0% {
    background-color: #009eff;
}
20% {
    background-color: #6ed31b;
}
40% {
    background-color: #ffcf00;
}
60% {
    background-color: #fd5757;
}
80% {
    background-color: #c526ff;
}
}

@keyframes photoColor {
0% {
    background-color: #009eff;
    box-shadow: 2px 2px 3px 1px #009eff;
}
20% {
    background-color: #6ed31b;
    box-shadow: 2px 2px 3px 1px #6ed31b;
}
40% {
    background-color: #ffcf00;
    box-shadow: 2px 2px 3px 1px #ffcf00;
}
60% {
    background-color: #fd5757;
    box-shadow: 2px 2px 3px 1px #fd5757;
}
80% {
    background-color: #c526ff;
    box-shadow: 2px 2px 3px 1px #c526ff;
}
}

@keyframes shadowColor {
0% {
    box-shadow: #009eff;
}
20% {
    box-shadow: #6ed31b;
}
40% {
    box-shadow: #ffcf00;
}
60% {
    box-shadow: #fd5757;
}
80% {
    box-shadow: #c526ff;
}
100% {
    box-shadow: #009eff;
}
}

@keyframes linkColor {
  0% {
    color: #009eff;
}
20% {
    color: #629f1a;
}
40% {
    color: #d79a1d;
}
60% {
    color: #fd5757;
}
80% {
    color: #da75ff;
}
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    filter: blur(10px);
    animation: appear 3s ease-in-out both;
    transform: scale(.9,.9) perspective(20em) rotateX(-20deg);
}

#my-card {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.my-photo {
    border-radius: 50%;
    box-shadow: 2px 2px 3px 1px #009eff;
    background-color: #009eff;
    animation: photoColor 10s 2s infinite linear both;
    width: 6em;
    height: 6em;
}

#my-text {
    margin: 0 0 0 20px;
    white-space: nowrap;
    line-height: 1.1em;
}

.name {
    font-size: 2em;
    font-weight: 400;
}

.phd {
    margin-left: 2px;
    font-size: 1.4em;
}

.subjects {
    font-size: .78em;
    color: #888;
}

#links {
    text-align: center;
    #height: 12vh;
}

.link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em .6em 0 .6em;
    text-decoration: none;
    font-size: .8em;
    color: #009eff;
    animation: linkColor 10s 2s infinite linear both;
}

.icon-img {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    border: 5px solid white;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgb(103 197 255);
    animation: shadowColor 10s 2s infinite linear both;
    transition: box-shadow 0.5s ease-out, filter 0.5s ease-out, transform 0.5s ease-out;
    filter: saturate(60%) contrast(60%) brightness(130%);
}

.icon-img-glitch {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.link-text {
    filter: saturate(0%);
    transition: filter 0.2s, text-shadow 0.2s;
}

.link:hover .icon-img{    
    box-shadow: 3px 10px 10px -5px;
    filter: none;
    transform: scale(1.05,1.05) translate(0,-.3em) perspective(10em) rotateY(0deg) rotateX(15deg);
}

.link:hover .link-text{    
    filter: none;
}

.glitch {
  position: absolute;
  opacity: 0;
  animation: glitchEffect 40s infinite linear both;
}


@media only screen and (max-device-width: 700px) {

    body {
        font-weight: 400;
    }

}

@media only screen and (max-device-width: 700px) and (orientation:portrait) {

    body {
        font-size:  2.5em;
    }

    #my-card {
        flex-direction:  column;
        margin-bottom: 2em;
        text-align: center;
    }

    .my-photo {
        width: 8em;
        height: 8em;
    }

    #my-text {
        margin: 3vh 0 0 0;
    }

}

@media only screen and (max-device-width: 700px) and (orientation:landscape) {

    body {
        font-size:  1.8em;
    }

}

@media (any-hover: none) {
/*    .glitch {
      animation: glitchEffect 20s infinite linear both;
  } */
  .icon-img {
    filter: saturate(70%) contrast(70%) brightness(120%);
}

}