@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

html {
    height: 100%;
    #cursor: none;
}

body {
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 70%, rgba(255,255,255,0.8) 90%, rgba(255,255,255,.6) 100%);
    background-color: #009eff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: pageColor 10s 2s infinite linear both;
    font: 300 1.3em 'Fredoka', sans-serif;
    color: #444;
    perspective: 500px;
}

@keyframes appear {
    0% {
        filter: blur(10px);
        opacity: 0;
        transform: scale(.9,.9) rotateX(-20deg);
    }
    30% {
        filter: blur(0px);
        opacity: 1;
        transform: none;
    }
    70% {
        transform: none;
    }
    100% {
        transform: rotateX(7deg) rotateY(5deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(7deg) rotateY(5deg);
    }
    12.5% {
        transform: rotateX(0deg) rotateY(7deg);
    }
    25% {
        transform: rotateX(-7deg) rotateY(5deg);
    }
    37.5% {
        transform: rotateX(-12deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(-7deg) rotateY(-5deg);
    }
    62.5% {
        transform: rotateX(0deg) rotateY(-7deg);
    }
    75% {
        transform: rotateX(7deg) rotateY(-5deg);
    }
    87.5% {
        transform: rotateX(12deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(7deg) rotateY(5deg);
    }
}

@keyframes pageColor {
    0% {
        background-color: #009eff;
    }
    20% {
        background-color: #6ed31b;
    }
    40% {
        background-color: #ffcf00;
    }
    60% {
        background-color: #fd5757;
    }
    80% {
        background-color: #c526ff;
    }
}

@keyframes photoColor {
    0% {
        background-color: #009eff;
        box-shadow: 2px 2px 3px 1px #009eff;
    }
    20% {
        background-color: #6ed31b;
        box-shadow: 2px 2px 3px 1px #6ed31b;
    }
    40% {
        background-color: #ffcf00;
        box-shadow: 2px 2px 3px 1px #ffcf00;
    }
    60% {
        background-color: #fd5757;
        box-shadow: 2px 2px 3px 1px #fd5757;
    }
    80% {
        background-color: #c526ff;
        box-shadow: 2px 2px 3px 1px #c526ff;
    }
}

@keyframes shadowColor {
    0% {
        box-shadow: #009eff;
    }
    20% {
        box-shadow: #6ed31b;
    }
    40% {
        box-shadow: #ffcf00;
    }
    60% {
        box-shadow: #fd5757;
    }
    80% {
        box-shadow: #c526ff;
    }
    100% {
        box-shadow: #009eff;
    }
}

@keyframes linkColor {
  0% {
    color: #009eff;
}
20% {
    color: #629f1a;
}
40% {
    color: #d79a1d;
}
60% {
    color: #fd5757;
}
80% {
    color: #da75ff;
}
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateX(7deg) rotateY(5deg);
    animation: appear 7s linear backwards, rotate 20s 7s infinite linear;
}

#my-card {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.my-photo {
    border-radius: 50%;
    box-shadow: 2px 2px 3px 1px #009eff;
    background-color: #009eff;
    animation: photoColor 10s 2s infinite linear both;
    width: 6em;
    height: 6em;
}

#my-text {
    margin: 0 0 0 20px;
    white-space: nowrap;
    line-height: 1.1em;
}

.name {
    font-size: 2em;
    font-weight: 400;
}

.phd {
    margin-left: 2px;
    font-size: 1.4em;
}

.subjects {
    font-size: .78em;
    color: #888;
}

#links {
    text-align: center;
    #pointer-events: none;
}

.link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em .6em 0 .6em;
    text-decoration: none;
    font-size: .8em;
    color: #009eff;
    animation: linkColor 10s 2s infinite linear both;
    transition: filter .3s ease-in-out, transform .3s ease-out;
    #pointer-events: auto;
}

.icon-img {
    height: 3.5em;
    width: 3.5em;
    margin-bottom: 0.3em;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgb(103 197 255);
    animation: shadowColor 10s 2s infinite linear both;
    transition: box-shadow 0.3s ease-out, filter 0.3s ease-out;
    filter: saturate(60%) contrast(60%) brightness(130%);
}

.link-text {
    filter: saturate(0%);
    transition: filter 0.2s, text-shadow 0.2s;
}

.link:hover {
    transform: scale(1.05,1.05) translateY(-.3em) perspective(10em) rotateX(20deg) translateZ(.5em);
}

.link:hover .icon-img{    
    box-shadow: 0px 15px 15px -10px;
    filter: none;
}

.link:hover .link-text{    
    filter: none;
}

#links:hover > .link{
    #filter: blur(5px);
}

#links .link:hover {
    #filter: blur(0); 
}

.glitch {
  position: absolute;
  opacity: 0;
  animation: glitchEffect 40s infinite linear;
}


@media only screen and (max-device-width: 700px) {

    body {
        font-weight: 400;
    }

}

@media only screen and (max-device-width: 700px) and (orientation:portrait) {

    body {
        font-size:  2.8em;
        perspective: 1000px;
    }

    #my-card {
        flex-direction:  column;
        margin-bottom: 2em;
        text-align: center;
    }

    .my-photo {
        width: 8em;
        height: 8em;
    }

    #my-text {
        margin: 3vh 0 0 0;
    }

}

@media only screen and (max-device-width: 700px) and (orientation:landscape) {

    body {
        font-size:  1.8em;
    }

}

@media (any-hover: none) {
/*    .glitch {
      animation: glitchEffect 20s infinite linear both;
  } */
  .icon-img {
    filter: saturate(70%) contrast(70%) brightness(120%);
}

}